#nav
  .bookActions
    span.bookActions_add(onClick=addBook)
      i.fa.fa-plus
  .books
    each book in books
      - var className = book.selected ? 'books_item books_item-selected' : 'books_item';
      div(className = className, key=book.id, onClick=select.bind(this, book.id))
        .books_title= book.title
        .books_volume vol. 1-
          = book.volume
#main
  if book
    .pure-form.pure-form-stacked.bookForm
      label Book ID(unique)
      input.bookForm_input(placeholder="zoi", value=book.id, onChange=changeID, readOnly=!book.draft)

      label Title
      input.bookForm_input(placeholder="NEW GAME!", value=book.title, onChange=changeTitle)

      label Volume
      input.bookForm_input(placeholder="3", value=book.volume, type="number", onChange=changeVolume)

      label Characters
      .bookForm_characters
        each character, index in book.characters
          .pure-g(key=index)
            input.pure-u-1-3(type="text", value=character.tag, onChange=changeTag.bind(this,index))
            input.pure-u-1-3(type="text", value=character.name, onChange=changeName.bind(this, index))
            input.pure-u-1-3(type="text", value=character.color, onChange=changeColor.bind(this, index))
      .characterActions
        .characterActions_add(onClick=addCharacter)
          i.fa.fa-plus

      button.pure-button.pure-button-primary.bookForm_submit(onClick=save.bind(this, book))
        i.fa.fa-check
