#nav
  BookSelect(books=books, onClick=bookAction.select)
#main
  if log.id
    LogViewer(value=log.content, polling=characterAction.fetch.bind(this, log.id), interval=1000)
  else
    if book
      .characterSelect
        each tag in currentTags
          - var character = characters[tag];
          - var className = character.selected ? 'characterSelect_character characterSelect_character-selected' : 'characterSelect_character';

          div(className=className, key=tag, onClick=characterAction.select.bind(this, tag))
            .characterSelect_name= name(tag) + '(' + character.faces.length +')'
            .characterSelect_faces
              each face in character.faces.slice(0, 10)
                img.characterSelect_face(src=face, key=face)
        ConfirmButton(icon='tasks', onClick=start)
