#col-3
  #nav
    VolumeSelect(books=books, onClick=volumeAction.select, current=volume)
  #middle
    each panel in panels
      - var className = 'charactersThumbnail ' + (panel.selected ? 'charactersThumbnail-selected' : '');
      div(className=className, key=panel.path, onClick=panelAction.select.bind(this, panel.path))
        .charactersThumbnail_image
          img(src='/'+panel.detect)
        each face in panel.faces
          .charactersThumbnail_image(key=face)
            img(src='/'+face)
  #main
    if panel
      .charactersDetect
        .charactersDetect_thumbnail
          img(src='/' + panel.detect)
        .charactersDetect_infer
          div
            i.fa.fa-magic
          - var auto_characters = panel.metadata.auto_characters || [];
          each face, index in panel.faces
            .charactersDetect_face(key=face)
              img(src='/'+face)
              = name(auto_characters[index])
      .charactersInput
           each face, index in panel.faces
            .charactersInput_character(key=face)
              img(src='/'+face)
      .charactersOtherInput
      .charactersGuide
        ul
          each key in guide()
            if key[1]
              li(key=key[0])= key[0] + ': ' + key[1]
