#col-2
  #nav
    VolumeSelect(books=books, onClick=select, current=volume)
  #main
    if log.id
      LogViewer(value=log.content, polling=fetch.bind(this, log.id), interval=1000)
    else
      if volume.book_id
        input(type='file', multiple=true, accept='image/*', onChange=selectFiles)
