#nav
  .volumeSelect
    each book in books
      div(key=book.id)
        .volumeSelect_title= book.title
        - for (var i = 1; i <= book.volume; i++)
          - var className = (book.id == volume.book_id && i == volume.volume) ? '  volumeSelect_volume-selected' : '';
          div(className = 'volumeSelect_volume' + className, key=i, onClick=select.bind(this, book.id, i)) Vol.
            = i
#main
  if volume.log_id
    LogViewer(value=volume.log, polling=fetch.bind(this, volume.log_id), interval=1000)
  else
    if volume.book_id
      input(type='file', multiple=true, accept='image/*', onChange=selectFiles)
